:root {
    --basic-black: #000000;
    --basic-black-30: rgba(0, 0, 0, 0.3);
    --basic-black-60: rgba(0, 0, 0, 0.6);
    --basic-brown: #444444;
    --basic-dark: #283136;
    --basic-dark-gray: #666666;
    --gray-hover: #dfdfdf;
    --gray-active: #d5d5d5;
    --basic-gray: #eeeeee;
    --basic-white: #ffffff;
    --basic-white-30: rgba(255, 255, 255, 0.3);
    --special-red: #fb565a;
    --red-hover: #e74246;
    --red-active: #d7373b;
    --special-green: #00ca74;
    --green-hover: #00bc6c;
    --green-active: #00aa62;
    --special-yellow: #efc849;
    --yellow-hover: #eab534;
    --yellow-active: #e5a722;
}

body {
    min-width: 1178px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-dark);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-header {
    padding-top: 50px;
    background-color: var(--basic-gray);
}

.main-navigation {
    width: 100%;
    display: grid;
    grid-template-columns: 160px 1fr 158px;
    align-items: center;
    margin: 0;
    padding: 0;  
}

.features {
    background-color: var(--basic-gray);
}

.main-header-logo {
    width: 160px;
    
}

.current-logo img:active {
    opacity: 0.3;
}

.site-navigation {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 46px;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-self: center;
}

.cart {
    max-width: 158px;
    justify-self: end;
}

.site-navigation a,
.cart a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart a:hover,
.cart a:focus {
    color: var(--special-red);
}

.site-navigation a:active,
.cart a:active {
    color: var(--basic-black-30);
}

.current {
    text-decoration: underline;
    text-decoration-color: var(--special-red);
    text-decoration-thickness: 2px;
    text-underline-position: under;
}

h1 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin: 72px 0 108px 0;
    padding: 0;
}

.feature-list {
    list-style: none;
}

.feature-item h3 {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: var(--basic-black);
}

.product {
    margin-bottom: 80px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-list:last-child {
    padding-right: 60px;
}

.product-item img {
    width: 300;
    height: 146;
    margin-bottom: 20px;
}

.product-item h3 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--special-red);
    border: none;
}

.button:hover,
.button:focus {
    background-color: var(--red-hover);
}

.button:active {
    color: var(--basic-white-30);
    background-color: var(--red-active);
}

.apps-button {
    background-color: var(--special-green);
}

.apps-button:hover,
.apps-button:focus {
    background-color: var(--green-hover);
}

.apps-button:active {
    color: var(--basic-white-30);
    background-color: var(--green-active);
}

.presentations-button {
    background-color: var(--special-yellow);
}

.presentations-button:hover,
.presentations-button:focus {
    background-color: var(--yellow-hover);
}

.presentations-button:active {
    color: var(--basic-white-30);
    background-color: var(--yellow-active);
}

.info {
    display: flex;
    justify-content: space-between;
}

.info-more {
    width: 660px;
}

.info-more h3 {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: var(--basic-black);
}

.info-more p:last-of-type {
    font-weight: 700;
    text-transform: uppercase;
}

.info-list {
    list-style: none;
}

.info-features p {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
}

.info-features dt {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
}

.info-features dd {
    line-height: 18px;
}

.partner-list {
    min-height: 183px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    list-style: none;
    padding: 0;
}

.partner-item {
    margin: 0 auto;  
}

.partner-item img {
    opacity: 0.2;
}

.partner-item img:hover {
    opacity: 1;
}

.partner-item img:active {
    opacity: 0.1;
}

.page-catalog {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-content: start;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 43px;
}

.filter fieldset:first-child {
    margin-bottom: 55px;
}

.sort-list {
    list-style: none;
}

.sort-list a {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black-30);
}

.sort-list a:hover,
.sort-list a:focus {
    color: var(--basic-black-60);
}

.sort-list a:active {
    color: var(--basic-black);
}

.filter legend,
.layout-info h3,
.sort-catalog p,
.footer-address span {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter {
    width: 260px;
    margin-top: 55px;
}

.filter legend {
    margin-bottom: 13px;
}

.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 19px;
}

.filter-option {
    margin-bottom: 21px;
}

.filter-button {
    color: var(--basic-black);
    background-color: var(--basic-gray);
}

.filter-button:hover,
.filter-button:focus,
.pagination-item a:hover,
.pagination-item a:focus {
    background-color: var(--gray-hover);
}

.filter-button:active,
.pagination-item a:active {
    background-color: var(--gray-active);
    color: var(--basic-black-30);
}

.filter input:disabled + label {
    opacity: 0.3;
}

.catalog {
    margin-left: 140px;
}

.catalog-list {
    width: 758px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 42px;
    margin-bottom: 55px;
}

.catalog-item {
    width: 358px;
    min-height: 578px;
    margin-bottom: 31px;
}

.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.layout-info {
    width: 358px;
    height: 231px;
    background-color: var(--basic-gray);
}

.layout-info h3 {
    padding-top: 26px;
    padding-bottom: 12px;
}

.layout-info h3:hover,
.layout-info h3:focus {
    color: var(--special-red);
}

.layout-info h3:active {
    color: var(--basic-black-30);
}

.layout-info p {
    padding: 0;
}

.layout-info p,
.footer-address {
    line-height: 18px;
    color: var(--basic-dark-gray);
}

.pagination-list {
    list-style: none;
}

.pagination-item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
    background-color: var(--basic-gray);
}
.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    background-color: var(--basic-white);
}

.phone {
    color: inherit;
}

.phone:hover,
.phone:focus,
.phone:active {
    background-color: var(--red-hover);
    color: var(--basic-white);
}
.contact-social {
    display: flex;
    margin-top: 68px;
    margin-bottom: 68px;
}

.footer-socials {
    width: 260px;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 120px;
}

.social-button {
    background-color: var(--basic-gray);
}

.friends-offer {
    color: var(--basic-black);
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}
.friends-offer p {
    margin: 0;
}

.friends-sale {
    color: var(--basic-brown);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-top: 10px;
}

.button-price:active {
    color: var(--basic-white);
}

.popup {
    display: none;
}
